
    <!-- Portfolio Grid Section -->
    <section class="success" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The CC Team</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                {% for member in site.team %}
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-4 portfolio-item"  align="center">
                        <img src="img/team/{{ member.img }}" class="img-responsive img-team" alt="No Picture here" title="{{member.name}}">
                            <div class="caption">
                                <div class="caption-content">
                                    <h4>{{member.name}}</h4>
                                    <h5>{{member.position}}</h5>

                                    <div class="footer-col">
                                        <ul class="list-inline">
                                            {% for network in member.social %}
                                            <li>
                                                <a href="{{ network.url }}" class="btn-social btn-outline btn-team">
                                                    <i class="fa fa-fw fa-{{ network.title }}"></i>
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </div>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>