<!-- Testimonials Grid Section -->
<section class="success" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Testimonials</h2>
                    <hr class="star-light">
                </div>
            </div>
            {% for test in site.testimonials%}
            <div class="row text-center">
                <div class="col-lg-6 col-lg-offset-3">
                    <img class="profie" src={{ test.image }}>
                    <h3>{{ test.autor }}</h3>
                    <b>{{ test.position }}</b>
                    <p> "{{ test.text }}" </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>